---
import Component from '../components/Component.astro'
import Experience from '../components/experience/index.astro'
import { EXPERIENCE } from '../data/experience'
import { SOCIALS } from '../data/socials'
import Layout from '../layouts/Layout.astro'


// Step 3: Access the environment variable
const webhookUrl = import.meta.env.DISCORD_WEBHOOK_URL
console.log(webhookUrl)
---

<Layout title="Jules Lofficial">
    <div class="relative hero z-10">
        <div
                class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
        >
            <div class="lg:flex lg:justify-between lg:gap-4">
                <header
                        class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
                >
                    <div
                            class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left"
                    >
                        <img src="/avatar.png" alt="Jules Lofficial" class="w-16 h-16 rounded-full"/>
                        <div>
                            <a
                                    href="/"
                                    class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
                            >
                                <h1>Lofficial Jules</h1>
                            </a>
                            <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                                Junior Full Stack Developer
                            </h2>

                            <form class="hidden lg:block">
                                <div class="md:flex md:space-x-2">
                                    <label>
                                        <input
                                                type="email"
                                                placeholder="Enter your email"
                                                class="email w-full px-3 py-2.5 mt-4 text-neutral-200 bg-neutral-400/10 border-neutral-700/50 rounded-md"
                                                required
                                        />
                                    </label>
                                    <label>
                                        <input
                                                type="text"
                                                placeholder="Object"
                                                class="object w-full px-3 py-2.5 mt-4 text-neutral-200 bg-neutral-400/10 border-neutral-700/50 rounded-md"
                                                required
                                        />
                                    </label>
                                </div>
                                <label>
                                    <textarea
                                            placeholder="Your message !"
                                            class="w-full px-3 py-2.5 mt-4 text-neutral-200 bg-neutral-400/10 border-neutral-700/50 rounded-md"
                                            required
                                    />
                                </label>
                                <button
                                        data-ccursor
                                        aria-label="Contact me"
                                        type="submit"
                                        class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4 w-full text-center"
                                >
                                    <div class="flex w-full justify-center items-center space-x-2">
                                        <div class="rounded-full bg-green-400 duration-1000 animate-pulse h-2 w-2"></div>
                                        <span>Contact me</span>
                                    </div>
                                </button>
                            </form>

                        </div>
                    </div>

                  {
                      SOCIALS.length && (
                                  <ul
                                          class="mt-8 flex items-center justify-center lg:justify-normal gap-x-5"
                                          aria-label="Social media"
                                  >
                                    {SOCIALS.map((social) => (
                                            <li class="text-xs p-2 rounded" data-ccursor>
                                                <a
                                                        class="block hover:text-slate-200"
                                                        href={social.url}
                                                        target="_blank"
                                                        rel="noreferrer noopener"
                                                        aria-label={`${social.name} (opens in a new tab)`}
                                                >
                                                    <span class="sr-only">{social.name}</span>
                                                  {
                                                      <Component component={social.icon}/>}
                                                </a>
                                            </li>
                                    ))}
                                  </ul>
                      )
                  }
                </header>

                <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
                    <section
                            id="about"
                            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
                            aria-label="About me"
                    >
                        <div
                                class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
                        >
                            <h2
                                    class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
                            >
                                About
                            </h2>
                        </div>
                        <div>
                            <div class="mb-4 space-y-4">
                                <p>
                                    I’m Jules
                                    Lofficial, {new Date().getFullYear() - new Date('2007-07-22').getFullYear() - (new Date().getMonth() < new Date('2007-07-22').getMonth() || (new Date().getMonth() === new Date('2007-07-22').getMonth() && new Date().getDate() < new Date('2007-07-22').getDate()) ? 1 : 0)}
                                    years old, and I’ve been passionate about computers since I was little. I started
                                    coding at the end of 2020 with JavaScript, then moved on to Java and Dart. Through
                                    all the projects I’ve worked on, I’ve gained experience in various programming
                                    languages, including Rust, TypeScript, PHP, and more.
                                </p>

                                <p>
                                    Looking forward to new challenges and exciting collaborations!
                                </p>
                            </div>
                        </div>
                    </section>
                    <section
                            id="experience"
                            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
                            aria-label="Work experience"
                    >
                        <div
                                class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
                        >
                            <h2
                                    class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
                            >
                                Experience
                            </h2>
                        </div>
                        <div>
                            <ol class="group/list space-y-12">
                              {EXPERIENCE.map((experience) =>
                                      <Experience {...experience}/>)}
                            </ol>

                            <!--         <div class="mt-12">
                                         <a
                                                 data-ccursor
                                                 class="inline-flex items-center leading-tight text-neutral-200 font-semibold group p-2 rounded px-3"
                                                 aria-label="View Full Résumé"
                                                 target="_blank"
                                                 rel="noreferrer noopener"
                                                 href="./resume.pdf"
                                         >
                           <span>
                             <span
                                     class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                             >
                               View Full
                             </span>
                             <span class="whitespace-nowrap">
                               <span
                                       class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                               >
                                 Résumé
                               </span>
                               <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 20 20"
                                       fill="currentColor"
                                       class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
                                       aria-hidden="true"
                               ><path
                                       fill-rule="evenodd"
                                       d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                                       clip-rule="evenodd"></path></svg
                               ></span
                             ></span
                           ></a>
                                     </div>-->
                        </div>
                    </section>
                    <form class="lg:hidden">
                        <div class="">
                            <div>
                                <h1 class="text-xl font-bold">Contact me.</h1>
                                <h2 class="text-md font-light">Feel free to reach out for job proposals, discussions, or
                                    even to request a quote!</h2>
                            </div>

                            <div class="flex w-full justify-center space-x-2">
                                <label>
                                    <input
                                            type="email"
                                            placeholder="Email"
                                            class="email w-full px-3 py-2.5 mt-4 text-neutral-200 bg-neutral-400/10 border-neutral-700/50 rounded-md"
                                            required
                                    />
                                </label>
                                <label>
                                    <input
                                            type="text"
                                            placeholder="Object"
                                            class="object w-full px-3 py-2.5 mt-4 text-neutral-200 bg-neutral-400/10 border-neutral-700/50 rounded-md"
                                            required
                                    />
                                </label>
                            </div>
                            <label>
                                    <textarea
                                            placeholder="Your message !"
                                            class="w-full px-3 py-2.5 mt-4 text-neutral-200 bg-neutral-400/10 border-neutral-700/50 rounded-md"
                                            required
                                    />
                            </label>
                            <button
                                    data-ccursor
                                    aria-label="Contact me"
                                    type="submit"
                                    class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4 w-full text-center"
                            >
                                <div class="flex w-full justify-center items-center space-x-2">
                                    <div class="rounded-full bg-green-400 duration-1000 animate-pulse h-2 w-2"></div>
                                    <span>Contact me</span>
                                </div>
                            </button>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>

    <footer class="text-center py-4 text-xs">
        <p>
            Made with ❤️ by Jules Lofficial
        </p>
      {new Date().getFullYear()} All rights reserved.
    </footer>
</Layout>

<style scoped>
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .hero {
        background-image: url(/pattern.svg);
        background-position: top center;
        background-repeat: no-repeat;
        overflow-y: visible;
        overflow-x: clip;
    }


    .hero {
        animation: fadeIn 3s;
    }
</style>

<script>

  function send() {
          // @ts-ignore
    const email = document.querySelector('.email')!.value
      // @ts-ignore
    const object = document.querySelector('.object')!.value
    const message = document.querySelector('textarea')!.value

    fetch('https://discord.com/api/webhooks/1212803939259654165/UAaYkrZXjnXMo-fxl7aPs7mXUR0K8edbchNB9aG3E5WJNPVbx9e67W6PcFw9tUPuUYjy', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        content: `@everyone **Email:** ${email}\n**Object:** ${object}\n**Message:** ${message}`
      })
    })

    // @ts-ignore
    document.querySelector('input[type="email"]')!.value = ''

    alert('Message sent !')
  }

  document.querySelector('form')?.addEventListener('submit', function (event) {
    // Step 2: Prevent the default form submission behavior
    event.preventDefault()

    // Step 3: Call the send function
    send()
  })
</script>